* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

* h1,
h2,
h3,
h4 {
    font-weight: 500;
    color: var(--text-dark-95);
}

:root {
    --landmark-padding: 2rem 3rem 2rem 3rem;

    --code-box-color: hsl(0, 0%, 20%);
    --text-box-color: hsl(0, 0%, 100%);
    --zfa-blue-main: hsl(221, 58%, 32%);
    --zfa-orange-main: hsl(24, 87%, 62%);
    --zfa-blue-second: hsl(206, 29%, 77%);
    --zfa-orange-second: hsl(17, 87%, 81%);
    --gradient-nav: radial-gradient(circle, rgba(33, 82, 143, 1) 16%, rgba(38, 61, 166, 1) 45%, rgba(23, 35, 150, 1) 100%);

<<<<<<< Updated upstream
    --bg-dark-0: hsl(0, 0%, 0%);
    --bg-dark-5: hsl(0, 0%, 10%);
    --bg-dark-10: hsl(0, 0%, 15%);
=======
    /** color schema for dark mode **/
    --bg-dark: hsl(0, 0%, 0%);
    --bg: hsl(0, 0%, 5%);
    --bg-light: hsl(0, 0%, 10%);
    --bg-hover: hsl(0, 0%, 15%);
>>>>>>> Stashed changes

    --bg-border: hsl(0, 0%, 20%);

    --text: hsl(0, 0%, 95%);
    --text-muted: hsl(0, 0%, 70%);

    --radioactive-dark: hsl(98, 60%, 5%);
    --radioactive: hsl(98, 60%, 15%);
    --radioactive-light: hsl(98, 60%, 25%);

    --color-mode-text: "☀️ Light Mode";
}

body.light {
    /** color schema for light mode **/
    --bg-dark: hsl(0, 0%, 90%);
    --bg: hsl(0, 0%, 95%);
    --bg-light: hsl(0, 0%, 100%);
    --bg-hover: hsl(0, 0%, 85%);

    --bg-border: hsl(0, 0%, 80%);

    --text: hsl(0, 0%, 5%);
    --text-muted: hsl(0, 0%, 30%);

    --radioactive-dark: hsl(98, 60%, 75%);
    --radioactive: hsl(98, 60%, 85%);
    --radioactive-light: hsl(98, 60%, 95%);

    --color-mode-text: "🌙 Dark Mode";
}

body {
    display: grid;
    grid-template-areas:
        "navigation header header header header"
        "navigation main main main main"
        "footer footer footer footer footer";
    grid-template-columns: 200px 1fr 1fr 1fr 1fr;
    /* ← fix column widths */
    grid-gap: 10px;
    background-color: var(--bg-dark);
    color: var(--text-muted);
}

content {
    width: 75%;
}

main {
    grid-area: main;
    background-color: var(--bg);
    border-radius: 1rem;
    padding: var(--landmark-padding);
    border: 1px solid var(--bg-border);
}

nav {
    grid-area: navigation;
    background: var(--bg);
    border-radius: 1rem;
<<<<<<< Updated upstream
    padding: .5rem;
    color: var(--text-light-95);
}

nav li {
    color: var(--text-light-95);
}

nav a {
    color: var(--text-light-95);
=======
    padding: 1rem;
    color: var(--text);
    border: 1px solid var(--bg-border);
}

nav ul {
    padding: 1rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: .5rem;
}

nav li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    width: 100%;
    color: var(--text);
    list-style: none;
    display: block;
    padding: .7rem;
    background-color: var(--bg-light);
    border-radius: 5px;
    border: 1px solid var(--bg-border);
}

nav li:hover {
    background-color: var(--bg-hover);
}

nav a {
    color: var(--text);
    text-decoration: none;
    font-weight: 400;
    display: block;
    width: 100%;
    height: 100%;
>>>>>>> Stashed changes
}

header {
    grid-area: header;
    background-color: var(--bg);
    border-radius: 1rem;
    padding: var(--landmark-padding);
    border: 1px solid var(--bg-border);
}

footer {
    grid-area: footer;
    background-color: var(--bg);
    border-radius: 1rem;
    padding: 2rem;
    color: var(--text-muted);
    border: 1px solid var(--bg-border);
}

h1 {
    display: flex;
    flex-direction: column;
    color: var(--text);
}

h2 {
    color: var(--text);
}

.code-snippet {
    display: block;
    background-color: var(--bg-light);
    color: var(--text-muted);
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    word-wrap: break-word;
    padding: 1rem;
    margin: 16px 0px 16px 0px;
    border-radius: .5rem;
    overflow-x: auto;
    height: fit-content;
}

.example-container {
    background-color: var(--bg-light);
    color: var(--text);
    padding: 1rem;
    margin: 16px 0px 16px 0px;
    display: block;
    border-radius: .5rem;
}

.description {
    background-color: var(--bg-light);
    /* dunkler Hinergrund, ähnlich wie in VSCode */
    color: var(--text);
    /* heller Text für höheren Kontrast */
    padding: 1rem;
    /* Text wird um 20 Pixel von allen Seiten eingerückt */
    border-radius: 5px;
    /* die Ecken werden abgerundet */
    font-size: 12pt;
    word-wrap: break-word;
    /* lange Wörter werden getrennt */
    overflow-x: auto;
    /* horizontaler Scroll für langen Code eingeschaltet */
    line-height: 1.5;
}

button {
    font-size: 12pt;
    background-color: var(--radioactive);
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    display: block;
    border: 1px solid var(--radioactive-dark);
    color: var(----radioactive-light);
}

#theme-toggler::before {
    content: var(--color-mode-text);
}

.dummy-button {
    display: block;
    background-color: #fff;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    display: block;
    border: 1px solid #000;
    user-select: none;
}

.false-h1 {
    font-size: 24pt;
    font-weight: bold;
}

.false-h2 {
    font-size: 18pt;
    font-weight: bold;
}

.false-h3 {
    font-size: 14pt;
    font-weight: bold;
}

.visually-hidden {
    position: absolute !important;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}