<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="/js/script.js"></script>
    <title>Codium - Die kleine Welt der digitalen Barrierefreiheit</title>
</head>

<body>
{% include "_navigation.njk" %}
    {{ content | safe }}

<footer>
    <p>«Zugang für alle»</p>
    <p>Schweizer Stiftung zur behindertengerechten Technologienutzung</p>
    <p>Friedheimstrasse 8</p>
    <p>CH-8057 Zürich</p>

</footer>
</body>

</html>