---
layout: _skeleton.njk
title: Absätze - Codium
---

<header>
<h1>Absätze</h1>
</header>

<main>
   <h1>Normale Absätze</h1>
   <p>
      Dies ist ein Absatz. Er wird mit dem p-Element ausgezeichnet.
   </p>
   <p>
      dies ist ein zweiter Absatz.
   </p>
   <h2>Absätze mit Abstand</h2>
   <p>
      style="margin-bottom:2em;">Ein Absatz mit Inhalt
   </p>
   <p>Ein Absatz mit Abstand, der durch CSS festgelegt wurde.</p>
      <h2>Absätze mit Trennlinien</h2>
      <p>dies ist ein Abschnitt.</p>
      <hr>
      <p>hier der nächste Abschnitt. Die beiden Abschnitte wurden mit einer unsichtbaren Trennlinie (hr) voneinander
         getrennt.</p>

</main>
