---
layout: _skeleton.njk
title: Überschriften
---

<header>
    <h1>
        Überschriften
    </h1>
</header>
<main>
    <h1>
  Meine Hobbys
</h1>
<p>
  Dies sind Aktivitäten, die ich gerne regelmässig mache.
</p>
<h2>
  Sportliche
Aktivitäten</h2>
<h3>
  Fussball spielen
</h3>
<p>
  Fussball ist eine Mannschaftssportart, die zwischen zwei Teams mit je elf Spielerinnen und Spielern mit einem runden Ball gespielt wird.
</p>
<h3>
  Tanzen
</h3>
<p>
  Tanz ist eine darstellende Kunstform, die aus bewusst ausgewählten Abfolgen menschlicher Bewegungen besteht.
</p>
<h4>
  Salsa
</h4>
<p>
  Salsa ist eine beliebte Form des Gesellschaftstanzes, die in der Karibik entstanden ist.
</p>
<h4>
  Rock'n'Roll
</h4>
<p>
  Rock’n’Roll ist eine sehr athletische, wettkampforientierte Form des Paartanzes, die aus dem Lindy Hop hervorgegangen ist.
</p>
<h3>
  Gärtnern
</h3>
<p>
  Gärtnern ist die Tätigkeit, Pflanzen anzubauen und zu pflegen – ein Teilbereich des Gartenbaus.
</p>
<h2>
  Entspannende Aktivitäten
</h2>
<h3>
  Filme schauen
</h3>
<p>
  Ein Film, auch Spielfilm oder Kinofilm genannt, ist eine Folge unbewegter Bilder, die beim Abspielen auf einer Leinwand oder einem Bildschirm durch das Phi‑Phänomen die Illusion bewegter Bilder erzeugt.
</p>
<h3>
  Meditieren
</h3>
<p>
  Meditation ist eine Praxis, bei der eine Person den Geist ausrichtet oder trainiert beziehungsweise einen Bewusstseinszustand herbeiführt – entweder um einen bestimmten Nutzen zu erzielen oder um den Inhalt des Geistes wahrzunehmen, ohne sich damit zu identifizieren, oder auch als Selbstzweck.
</p>
</main>