---
layout: _skeleton.njk
title: Checkbox - gutes Beispiel
---

<header>
    <h1>
        Checkbox - gutes Beispiel
    </h1>
</header>
<main>
    <article>
        <h1>
            Beispiele zum Ausprobieren
        </h1>
        <h2>
            Beispiel 1
        </h2>
        <p>
            <input type="checkbox" name="gelesen" id="read" value="ja" />
            <label for="read">Ich habe die Bedingungen gelesen</label>
        </p>
        <h2>
            Beispiel 2
        </h2>
        <p>
            <label>
                <input type="checkbox" name="gelesen" value="ja" />
                Ich habe die Bedingungen gelesen
            </label>
        </p>
    </article>
</main>