---
layout: _skeleton.njk
title: Header, Main & Footer
---
<header>
  <p>Willkommen</p>
  <p>
    <script>
      addAsCode("hidden_1");
    </script>
  </p>
</header>
<main>
  <h1 id="hidden_2" class="visually-hidden">Hauptbereich</h1>
  <p>Dies ist der Hauptbereich der Seite.
    Der Hauptbereich hat eine visuell versteckte Überschrift. Diese kann vom Screenreader angesprungen werden, ist
    aber visuell versteckt. Dies sieht so aus:</p>
  <p>
    <script>
      addAsCode("hidden_2");
    </script>
  </p>
  <p>Diese Seite hat nun auch einen Hauptinhalt.</p>
  <p>Versucht mal, was passiert, wenn Ihr mit dem Screenreader durch die Seite navigiert.</p>
  <ul>
    <li>Wisst Ihr immer, wo Ihr gerade seid?</li>
    <li>Wenn nicht: Warum?</li>
  </ul>
</main>