---
layout: _skeleton.njk
title: Home
---

<header>
    <h1>Codium – Die kleine Welt der digitalen Barrierefreiheit</h1>
    <p>
        Herzlich willkommen im Codium – einer kleinen Web-Applikation, die sich auf die spannende Reise nach Wissen
        rund um Barrierefreiheit im Web begibt. Im Rahmen der Ausbildung bei der Stiftung 'Zugang für alle' wird
        Codium
        kontinuierlich weiterentwickelt.
    </p>
    <p>
        Hier zeigen wir auf, wie Screenreader verschiedene HTML-Elemente ausgeben und laden zum Ausprobieren ein.
        Ebenfalls zeigen wir an verschiedenen Beispielen auf, was ihr zur Gestaltung einer barrierefreien Seite
        beachten
        solltet.
    </p>
</header>
<main></main>

<footer>
    <p>«Zugang für alle»</p>
    <p>Schweizer Stiftung zur behindertengerechten Technologienutzung</p>
    <p>Friedheimstrasse 8</p>
    <p>CH-8057 Zürich</p>

</footer>