---
layout: _skeleton.njk
title: Links
---

<header>
	<h1>Buttons</h1>
	<p>
		Auf dieser Seite werden Beispiele für Links umgesetzt.
	</p>
</header>
<main>
	<h2>Links</h2>
	<h3>Gutes Beispiel</h3>
	<div class="example-container">
		<a id="links-good-example-1" href="https://www.access-for-all.ch">Zugang für alle</a>
	</div>
	<code class="code-snippet">
    	<script>addAsCode("links-good-example-1");</script>
	</code>
	<h2>Schlechtes Beispiel</h2>
	<p class="description">Dieser Link hat keinen Linktext, der dem Screenreader-Nutzer den Zweck des Links anzeigt.
		Für Sehende ist kein Link ersichtlich. Der Tastaturfokus findet ihn aber.</p>
	<div class="example-container">
		<a id="links-bad-example-1" href="https://www.access-for-all.ch"></a>
	</div>
	<code class="code-snippet">
    	<script>addAsCode("links-bad-example-1");</script>
	</code>
</main>

<footer>
	<p>«Zugang für alle»</p>
	<p>Schweizer Stiftung zur behindertengerechten Technologienutzung</p>
	<p>Friedheimstrasse 8</p>
	<p>CH-8057 Zürich</p>

</footer>