<!DOCTYPE html>
<html lang="de">

<head>
    <title>Links - Codium</title>
    <script src="script.js"></script>
</head>

<body>
    <nav></nav>
    <header>
        <h1>Links - Wo solls bitte hingehen?</h1>
        <p>Hier geht es um Links. Wir haben ein paar gute und schlechte Beispiele bereitgestellt.</p>
    </header>
    <main>
        <h2>Links</h2>
        <h3>Gutes Beispiel</h3>
        <a id="links-good-example-1" href="https://www.access-for-all.ch">Zugang für alle</a>
        <pre>
<code class="code-snippet">
    <script>addAsCode("links-good-example-1");</script>
</code >
</pre>
        <h2>Schlechtes Beispiel</h2>
        <p class="description">Dieser Link hat keinen Linktext, der dem Screenreader-Nutzer den Zweck des Links anzeigt.
            Für Sehende ist kein Link ersichtlich. Der Tastaturfokus findet ihn aber.</p>
        <a id="links-bad-example-1" href="https://www.access-for-all.ch"></a>
        <pre>
<code class="code-snippet">
    <script>addAsCode("links-bad-example-1");</script>
</code >
</pre>
    </main>
    <footer>
        <p>Hier ist noch ein leerer footer</p>
    </footer>
</body>

</html>