<html lang="de">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Seite mit Navigationsbereich - Codium</title>
  <link rel="stylesheet" href="style.css">
  <script src="script.js"></script>
</head>

<body>
  <nav></nav>
  <header>
    <p>Willkommen</p>
  </header>
  <main>
    <div>
      <ul>
        <li><a href="#link1.html">Link 1</a></li>
        <li><a href="#link2.html">Link 2</a></li>
        <li><a href="#link3.html">Link 3</a></li>
      </ul>
    </div>
    <h1>Wir werden immer besser.</h1>
    <p>Jetzt haben wir auch einen Navigationsbereich.</p>
  </main>
  <footer>
    <h1 class="visually-hidden">Fussbereich</h1>
     Und natürlich hier wieder der Fussbereich, diesmal wieder mit versteckter Überschrift.
  </footer>
</body>

</html>