---
layout: _skeleton.njk
title: Navigation
---
<header>
  <p>Willkommen</p>
</header>
<main>
  <div>
    <ul>
      <li><a href="#link1.html">Link 1</a></li>
      <li><a href="#link2.html">Link 2</a></li>
      <li><a href="#link3.html">Link 3</a></li>
    </ul>
  </div>
  <h1>Wir werden immer besser.</h1>
  <p>Jetzt haben wir auch einen Navigationsbereich.</p>
</main>
<footer>
  <h1 class="visually-hidden">Fussbereich</h1>
  Und natürlich hier wieder der Fussbereich, diesmal wieder mit versteckter Überschrift.
</footer>
</body>

</html>