---
layout: _skeleton.njk
title: sprunglinks - Codium
---

<header>
  <h1>Sprunglinks</h1>
  <p>Hier haben wir einen Navigationsbereich mit Sprunglinks zu den wichtigsten Seitenbereichen. Damit können Tastaturnutzende den gewünschten Seitnebereich direkt anspringen und müssen dazu nicht mehrmals die Tabulatortaste betätigen, um zum Ziel zu gelangen.</p>

</header>
<nav>
  <ul>
    <li><a href="#main">Zum Hauptinhalt</a></li>
    <li><a href="#footer">Zum Fussbereich</a></li>
  </ul>
</nav>

<main>
  <h1>Willkommen</h1>
  <p>Der Sprunglink zum Hauptinhalt sollte hierher führen.</p>
</main>
<footer>
  <p>Kommt ihr mit dem Sprunglink zum Fussbereich hierher?</p>
</footer>