<h2 class="visually-hidden">Links</h2>
<ul>
    <li><a href="00 - index.html">Home</a></li>
    <li><a href="01 - absatz.html">Absätze</a></li>
    <li><a href="02 - heading.html">Überschriften</a></li>
    <li><a href="03 - header_footer.html">Kopf- und Fussbereich</a></li>
    <li><a href="04 - main.html">hauptbereich</a></li>
    <li><a href="05 - nav.html">Navigationsbereich</a></li>
    <li><a href="06 - skiplinks.html">Sprunglinks</a></li>
    <li><a href="07 - links.html">Links</a></li>
    <li><a href="08 - schalter.html">Schalter / Buttons</a></li>
</ul>